body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.DivPai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.Div1 img, .Div2 img, .Div3 img, .Div4 img, .Div5 img {
    width: 100%;
    height: auto;
    display: block;
}

select {
    margin: 10px 10px;
    padding: 10px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    background-image: url('imagens/seta-para-baixo-para-navegar.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center right 20px;
    /* Removendo posições absolutas ou relativas */
    
}

/* Media query para dispositivos móveis (largura máxima de 720px) */
@media (max-width: 720px) {
    select{
        width: 500px;
        height: 100px;
        padding: 10px;
        font-size: 64px;
        position: relative;
        top: 800px;
        background-size: 30px;
    
    }

    .Div1, .Div2, .Div3, .Div4, .Div5 {
        display: none;
        width: 90%;
        margin: 10px;
    }
}

/* Media query para tablets e telas maiores (largura mínima de 768px) */
@media (min-width: 768px) and (max-width: 1023px) {
    select {
        width: 300px;
        height: 50px;
        font-size: 24px;
        background-size: 20px;
        background-position: center right 10px;
    }

    .Div1, .Div2, .Div3, .Div4, .Div5 {
        display: none;
        width: 90%;
        margin: 10px;
    }
}

/* Media query para telas maiores (largura mínima de 1024px) */
@media (min-width: 1024px) {
    select {
        width: 300px;
        height: 50px;
        font-size: 24px;
        background-size: 20px;
        background-position: center right 10px;
        position: fixed;
        bottom: 50px;
        left: 620px;
    }

    .Div1, .Div2, .Div3, .Div4, .Div5 {
        display: none;
        width: 30%;
        margin: 10px;
    }
}
