

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.DivPai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.Div1 img, .Div2 img, .Div3 img, .Div4 img, .Div5 img {
    width: 100%;
    height: auto;
    display: block;
}


